/* ------ universal style selection ------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------ hero style section ------ */

header {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px 400px 200px 400px;
}

.hero-top-left {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}

.hero-top-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.hero-items {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.hero-items p {
  margin-top: 10px;
}
img {
  width: 400px;
  height: auto;
}

.hero-items button {
  margin-top: 20px;
  width: 100px;
  height: 30px;
  background-color: #3882f6;
  text-align: center;
  color: white;
  border-radius: 20px;
}
a {
  text-decoration: none;
  color: white;
}

/* ------ information section ------ */
.info-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 200px;
  align-items: center;
}

.info-picture {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
}

.info-picture img {
  width: 200px;
  height: auto;
  margin-top: 50px;
}

.test {
  display: flex;
  flex-direction: column;
}
.test p {
  margin-top: 10px;
  flex-wrap: wrap;
  width: 200px;
}

/* ------quote section ------  */
.quote {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.quote p {
  font-size: 36px;
}

/* ------ call to action ------ */
.call-to-action {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3882f6;
  width: 75%;
  margin: 100px auto;
  padding: 50px 100px;
  border-radius: 10px;
  color: white;
}

.action {
  font-size: 24px;
}

.call-to-action button {
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  border: 2px solid white;
  background-color: #3882f6;
  color: white;
}
